<!doctype html>
<html lang="en">
<head>
  <title>ReadingRoom</title>
</head>
<body>
  Welcome {{.User.Nickname}}!
  <br/>
  Books:<br/>
  <ul>
  {{ range $index, $element := .Books }}
    <li><a href="v1/read/{{$element.Id}}">{{$element.Title}}, by {{$element.Author}}</a></li>
  {{ end }}
</ul>
</body>
</html>
