<!doctype html>
<html lang="en">
<head>
  <title>ReadingRoom</title>
</head>
<body>
  <h1>{{ .Title }}</h1>

  <div class="">
    <h2>Table of Content</h2>
    <ul>
      {{ range $index, $element := .NavPoints }}
        <li>{{$element.Text}}</li>
      {{ end }}
    </ul>
  </div>
</body>
</html>
